*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f5f7fa;
}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:#0d47a1;

color:white;

}

nav ul{

display:flex;

list-style:none;

gap:25px;

}

nav a{

color:white;

text-decoration:none;

}

button{

padding:10px 20px;

border:none;

background:#ff3d00;

color:white;

border-radius:30px;

cursor:pointer;

}

.hero{

height:500px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:linear-gradient(120deg,#2196f3,#42a5f5);

color:white;

}

.hero h1{

font-size:55px;

}

.hero p{

margin:20px;

font-size:22px;

}

.hero a{

background:white;

color:#1565c0;

padding:15px 30px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

padding:60px;

}

.card{

background:white;

padding:30px;

text-align:center;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card h2{

margin:20px;

}